@model GranjaSystem.Models.tblGeneticas

@{
    ViewBag.Title = "Detalles del Registro";
}

    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>GENÉTICA</h4></div>
            <div class="panel-body bg-gray">
                <div style="font-size: 20px;">
                    
                    <dl class="dl-horizontal">
                        <dt>
                            Genética
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Genetica)
                        </dd>

                        <dt>
                            Observación
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Observacion)
                        </dd>

                    </dl>
                </div>
                <p align="right">
                    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdGenetica }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>
